<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>

  <body>
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <ul class="orbit-container">
        <li class="orbit-slide is-active">
         <%= image_tag("intro-bg.jpg", :alt => "rss feed") %>
          <span class="orbit-caption"><p>Name</p></span>
        </li>
        <li class="orbit-slide">
          <%= image_tag("intro-bg.jpg", :alt => "rss feed") %>
          <span class="orbit-caption"><p>Programmer by heart</p></span>
        </li>
        <li class="orbit-slide">
         <%= image_tag("intro-bg.jpg", :alt => "rss feed") %>
          <span class="orbit-caption"><p>Traveler by Nature</p></span>
        </li>
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
